<button
  class="icon"
  [ngClass]="iconClasses"
  [ngStyle]="iconStyles"
  (click)="onIconClick()"
  (keydown)="onKeyDown($event)"
  [attr.aria-label]="(type || 'custom') + ' icon'"
  tabindex="0"
  type="button"
>
  <!-- SVG icon with class-based state control -->
  <svg-icon
    *ngIf="currentIconSrc"
    [src]="currentIconSrc"
    [svgClass]="'icon__svg-file'"
    [svgAriaLabel]="(type || 'custom') + ' icon'"
    [class]="
      'icon-state-' +
      svgIconClass +
      ' ' +
      svgIconClass +
      ' ' +
      (type ? type + '-' + svgIconClass : '')
    "
  ></svg-icon>
</button>
